<div class="container">
  <div class="container text-center">
    <div class="card-header">
      <img
        src="https://media.gettyimages.com/vectors/vegetable-grunge-design-vector-id166081642?s=2048x2048"
        height="150"
        width="1000"
      />
    </div>
    <h1>Registro de Ordenes</h1>
  </div>

  <div  >
    <div class="row">
      <div class="col-6 col-sm-4" *ngFor="let p of pedido">
        <br>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">ID ORDEN: {{ p.ID_Orden }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha: {{p.fecha.split("T")[0]}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Estatus: {{p.estatus}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Mesa: {{p.mesa}}</h6>
            <h6 class="card-title">Pago total: {{p.totalPagar}}</h6>
            <button
              routerLink="/factura"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"           
            >
              Generar factura
            </button>  <!--  (click)=`buscarFactura({{ p.ID_Orden }})` -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
