<div class="container text-center">
  <div class="row justify-content-center">
    <div class="w-75">
      <table
        border="5"
        style="background-color: rgb(200, 239, 216)"
        class="align-items-center"
      >
        <img
          src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
          width="50"
          class="rounded-circle"
        />
        <img
          class="rounded-circle"
          src=" https://thumbs.dreamstime.com/b/cafe-o-restaurante-que-sirve-el-logo-de-comida-org%C3%A1nica-hojas-cuchara-y-tenedor-simbolizan-la-dieta-vegetariana-europea-uni%C3%B3n-162906053.jpg"
          width="200"
        /><img
          src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
          width="50"
          class="rounded-circle"
        />
        <h1>MENÚ</h1>
        <div class="container">
          <div class="row justify-content-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    src="https://cdn0.bodas.com.mx/article-vendor-o/4568/3_2/1280/jpg/fotografia-17_5_164568.webp"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Entrada</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    src="https://cdn2.cocinadelirante.com/sites/default/files/images/2019/12/recetas-veganas-faciles-y-ricas.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Platillos</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8I3LpTtlvQAAwlRg9_By1TKzpdsicbrEG8w&usqp=CAU"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Infantiles</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    src="https://cdn.sportadictos.com/files/2017/06/Bebidas-antioxidantes.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Bebidas</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    src="https://placeralplato.com/files/2015/11/Postre-vegano-640x480.jpg?width=1200&enable=upscale"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Postres</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <li class="list-group-item">Comida</li>
                      </div>
                      <div class="col-4">
                        <li class="list-group-item">$100</li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="row justify-content-center">
            <div class="col-3">
              <a href="#" class="btn btn-success">Volver al menú principal</a>
            </div>
            <div class="col-3">
              <img
                src="http://www.veganvegetariankm0.com/wp-content/uploads/2014/09/vegan-vegetarian-donostia-3.png"
                width="200"
              />
            </div>

            <div class="col-3">
              <a href="#" class="btn btn-success">Realizar Orden</a>
            </div>

            <br />
          </div>
        </div>
        <br />
      </table>
    </div>
  </div>
</div>
