<div class="container text-center">
  <div class="row justify-content-center">
    <div class="w-75">
      <table
        border="5"
        style="background-color: rgb(218, 228, 223)"
        class="align-items-center"
      >
        <br />
        <br />
        <div class="row align-items-start">
          <div class="col-1"></div>
          <div class="col-4">
            <img
              src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
              width="45"
              class="rounded-circle"
            /><img
              src="https://previews.123rf.com/images/pandavector/pandavector1701/pandavector170100083/68574419-icono-de-pago-en-estilo-de-dibujos-animados-aislado-sobre-fondo-blanco-ilustraci%C3%B3n-de-vector-de-valo.jpg"
              width="140"
              class="rounded-circle"
            /><img
              src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
              width="45"
              class="rounded-circle"
            />
          </div>
          <div class="col-6">
            <h2>SAZÓN VEGANO</h2>
            <h4>Factura</h4>
            <h6>Avenida del Arbol #1200 Infonavit arboledas</h6>
            <h6>CP. 59800</h6>
            <h6>Zamora Mich. #17</h6>
            <h6>RFC. SVG800131L13</h6>
            <h6>tel. 345-555-8844</h6>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container">
          <div class="row">
            <div
              class="col"
              *ngFor="let fact of datosFactura; first as isFirst"
            >
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>No. factura:</h6>
                </div>
                <div class="col">{{ fact.ID_Orden }}</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>No. folio:</h6>
                </div>
                <div class="col">2531</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>Fecha:</h6>
                </div>
                <div class="col">
                  {{ fact.fecha.split("T")[0] }}
                </div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>No. pedido:</h6>
                </div>
                <div class="col">{{ fact.ID_Orden }}</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>Vencimiento:</h6>
                </div>
                <div class="col">{{ fact.fecha.split("T")[0] }}</div>
              </div>
            </div>

            <div class="col" *ngFor="let cliente of datosCliente">
              <h6>Envíar a:</h6>
              <div class="row">
                <div class="col">
                  <h6>Nombre:</h6>
                </div>
                <div class="col">{{ cliente.nombre }}</div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Dirección:</h6>
                </div>
                <div class="col">{{ cliente.direccion }}</div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Correo:</h6>
                </div>
                <div class="col">{{ cliente.correo }}</div>
              </div>
            </div>
            <div class="col" *ngFor="let cliente of datosCliente">
              <h6>Facturar a:</h6>
              <div class="row">
                <div class="col">
                  <h6>Nombre:</h6>
                </div>
                <div class="col">{{ cliente.nombre }}</div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Dirección:</h6>
                </div>
                <div class="col">{{ cliente.direccion }}</div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Correo:</h6>
                </div>
                <div class="col">{{ cliente.correo }}</div>
              </div>
            </div>
          </div>
          <br /><br />
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">nombre Platillo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fact of datosFactura">
                <td>{{ fact.cantidad }}</td>
                <td>{{ fact.nombrePlato }}</td>
                <td>{{ fact.descripcion }}</td>
                <td>{{ fact.precio }}</td>
                <td>{{ fact.subtotal }}</td>
              </tr>
            </tbody>
          </table>
          <br />
          <div class="row justify-content-end">
            <div
              class="col-4"
              *ngFor="let fact of datosFactura; first as isFirst"
            >
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>Subtotal:</h6>
                </div>
                <div class="col">${{ fact.totalPagar }}</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>Descuento:</h6>
                </div>
                <div class="col">$00.00</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>IVA:</h6>
                </div>
                <div class="col">${{ fact.totalPagar }}*0.16</div>
              </div>
              <div class="row" *ngIf="isFirst">
                <div class="col">
                  <h6>Total:</h6>
                </div>
                <div class="col">${{ fact.totalPagar }}*1.16</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-6">
              <h6>Firma: ____________________________</h6>
            </div>
          </div>
          <br />
          <br />
          <div class="col align-self-end">
            <button
              routerLink="/main"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Volver al menú principal
            </button>
            <br /><br />
          </div>
        </div>
      </table>
    </div>
  </div>
</div>
