<div class="container text-center">
  <div class="row justify-content-center">
    <div class="w-75">
      <table
        border="5"
        style="background-color: rgb(200, 239, 216)"
        class="align-items-center"
      >
        <div class="text-center">
          <div class="card-header">
            <img
              src="https://media.gettyimages.com/vectors/vegetable-grunge-design-vector-id166081642?s=2048x2048"
              height="150"
              width="1000"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Bienvenido(a) a SAZÓN VEGANO</h5>
            <p class="card-text">¿Qué acción desea realizar?</p>

            <button
              routerLink="/menu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Consultar Menú
            </button>
            <br />
            <br />
            <button
              routerLink="/proveedores"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Consultar Proveedores</button
            ><br />
            <br />

            <button
              routerLink="/almacen"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Consultar Almacén</button
            ><br />
            <br />
            <button
              routerLink="/verempleados"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Ver Empleados
            </button>
            <br />
            <br />
            <button
              routerLink="/pedidos"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-success me-4"
              type="button"
            >
              Consultar pedidos
            </button>
          </div>
          <div class="card-footer text-muted">Sazón Vegano</div>
        </div>
      </table>
    </div>
  </div>
</div>
