<div class="content justify-content-center">
  <div style="background-color: rgb(186, 130, 56)">
    <div class="col text-center">
      <h1 style="color: rgb(6, 7, 7)">SAZÓN VEGANO</h1>
    </div>
    <div class="row align-items-center">
      <div class="row-2"></div>
    </div>
  </div>

  <div class="col">
    <app-empleados></app-empleados>
    <app-login></app-login>
    <app-main></app-main>
    <app-menu></app-menu>
    <app-ordenes></app-ordenes>
    <app-proveedores></app-proveedores>
  </div>
</div>
