<div class="container text-center">
  <div class="row justify-content-center">
    <div class="w-75">
      <table
        border="5"
        style="background-color: rgb(200, 239, 216)"
        class="align-items-center"
      >
        <div class="card-header">
          <img
            src="https://media.gettyimages.com/vectors/vegetable-grunge-design-vector-id166081642?s=2048x2048"
            height="150"
            width="1000"
          />
        </div>
        <img
          src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
          width="50"
          class="rounded-circle"
        />
        <img
          src="https://png.pngtree.com/element_origin_min_pic/17/08/04/3528c203fea0c31986221c51e598a6d4.jpg"
          width="200"
          class="rounded-circle"
        /><img
          src="https://http2.mlstatic.com/D_NQ_NP_711092-MLM41954221712_052020-O.jpg"
          width="50"
          class="rounded-circle"
        />
        <h5>Empleados</h5>
        <button
          type="submit"
          (click)="buscarEmpleados()"
          class="btn btn-large btn-block btn-primary"
        >
          Actualizar
        </button>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Nombre de empresa</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Fecha de ingreso</th>
              <th scope="col">Estado civil</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Correo</th>
              <th scope="col">Puesto</th>
              <th scope="col">Hora de trabajo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Sexo</th>
              <th scope="col">Usuario</th>
              <th scope="col">Contraseña</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emple of empleados">
              <th scope="row">{{ emple }}</th>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
              <td>{{ emple }}</td>
            </tr>
          </tbody>
        </table>

        <div class="col align-self-end">
          <button
            routerLink="/main"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="btn btn-success me-4"
            type="button"
          >
            Volver al menú principal
          </button>
          <br /><br />
          <button
            routerLink="/empleados"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="btn btn-success me-4"
            type="button"
          >
            Agregar Empleados
          </button>
          <br /><br />
        </div>
      </table>
    </div>
  </div>
</div>
